@import '../style/mixins';

.RegistrationsProducts {
  display: flex;

  @include on-wide {
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }

  @include on-narrow {
    flex-direction: column;
  }
}

.RegistrationsProducts__Table {
  align-self: flex-start;
  margin: 0 0.5em !important;
  padding: 1em;
}
