@import './mixins';
@import './placeholders';

.no-print {
  @extend %no-print;
}

.full-width {
  @extend %full-width;
}

@media screen {
  html,
  body,
  #root {
    height: 100%;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
