@import './style/mixins';

.App__Main {
  max-width: 900px;
  margin: 0 auto;
  // To compensate for the header and footer.
  min-height: calc(100vh - 95px);
}

.App__MainContainer {
  padding: 2em;
}
