<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <meta name="description" content="">
  <base href="/"/>
  <title>SSS AD</title>

  <!-- Main CSS files, deferred if not critical -->
  <% htmlWebpackPlugin.files.css.forEach(css => { %>
  <% if (!css.includes('critical')) { %>
  <link
    href="<%= css %>"
    rel="stylesheet"
    media="none"
    onload="if(media!='screen')media='screen'"
  >
  <% } else { %>
  <link
    href="<%= css %>"
    rel="stylesheet"
    media="screen"
  >
  <% } %>
  <% }); %>
</head>
<body>
<noscript>
  You need to enable JavaScript to run this app.
</noscript>
<div id="root"></div>

<!-- Load JS -->
<% Object.values(htmlWebpackPlugin.files.chunks).forEach(chunk => { %>
<script
  src="<%= chunk.entry %>"
></script>
<% }); %>
</body>
</html>
