<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <meta name="description" content="">
  <base href="/"/>
  <title>SSS AD</title>

  <!-- Main CSS files, deferred -->
  <% htmlWebpackPlugin.files.css.forEach(css => { %>
  <link
    href="<%= css %>"
    rel="stylesheet"
    media="none"
    onload="if(media!='screen')media='screen'"
  >
  <% }); %>

  <!-- Load JS -->
  <% Object.values(htmlWebpackPlugin.files.chunks).forEach(chunk => { %>
  <script
    src="<%= chunk.entry %>"
    async
    defer
  ></script>
  <% }); %>
</head>
<body>
<noscript>
  You need to enable JavaScript to run this app.
</noscript>
<div id="root"></div>

<% if (htmlWebpackPlugin.options.production){ %>
<script>
  alert('Site de test, les inscriptions ne sont pas encore ouvertes');
</script>
<% }%>
</body>
</html>
