@import '~semantic-ui-css/components/reset';
@import '~semantic-ui-css/components/site';
@import '~semantic-ui-css/components/loader';
@import '~semantic-ui-css/components/dropdown';
@import '~semantic-ui-css/components/header';
@import '~semantic-ui-css/components/menu';

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.full-width {
  @media screen and (max-width: 684px) {
    width: 100% !important;
  }
}

html,
body, #root {
  height: 100%;
}
