.InformationSection__logo {
  width: 100%;
  height: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.InformationSection__register-container {
  margin: 2em 0;
  display: flex;

  > * {
    margin: 0 auto !important;
  }
}
