<FilesMatch "getRegistrations.php">
  AuthType Basic
  AuthName "Password Protected Area"
  AuthUserFile /home/www/f299233bc103871b19372e6d2c99db54/web/ad-sss/api/.htpasswd
  Require valid-user
</FilesMatch>
